<div id="content">
    {{add-exercises}}    
    <br><br>
    <table class="ui single line table">
  
  
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>

    {{!-- <tbody>
      {{#each model as |Rehabplan|}}
        <tr>
          <td>{{Rehabplan.planName}}</td>
          <td>{{Rehabplan.description}}</td>
          <td>
            <div class="four wide column right aligned">
              {{edit-rehabplan ID=Rehabplan.id}}
            </div>
            <div class="four wide column left aligned">
              {{delete-rehabplan ID=Rehabplan.id}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody> --}}
  </table>

</div>