{{!-- {{ui-accordian}}
    <h2> Forms </h2>
    <div class="ui grid">
     {{#each model.form as |form|}}   
        <div class="four wide column">
        <label>{{form.name}}</label>
        </div>
        <div class="eight wide column right aligned">
       {{manage-form ID=form.id}}
        </div>
        <div class="four wide column left aligned">
        {{delete-form ID=form.id}}
        </div>
     {{/each}}
    </div>
    
    <br><br><br>


{{add-form}} --}}

<br>
<h2> Forms </h2>

{{#ui-accordion }}
  {{#each model.form as |form|}}
    <div class="ui grid">
      <div class="twelve wide column">
        <div class="title">
          <i class="dropdown blue icon"></i>
          {{form.name}}
        </div>
        {{show-form-questions questions=form.questions}}
      </div>
      <div class="six wide column right aligned">
          {{manage-form ID=form.id questions=form.questions fName=form.name}}
        </div>
      <div class="two wide column right aligned">
        {{edit-form ID=form.id}}
      </div>
      <div class="two wide column left aligned">
        {{delete-form ID=form.id}}
      </div>
    </div>
  {{/each}}
{{/ui-accordion}}


{{add-form}}