{{!--<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/table-style.css">


<!--<br><br><br><br>-->

<!--<section id="cd-section">-->

  <!--<section id="cd-table">-->
    <!--<div class="cd-table-container">-->
      <!--<ul>-->
        <!--<li style="  text-align: center; font-size: 1.2rem; text-transform: uppercase;-->
                          <!--font-weight: bold; color: white; background-color: #f58b4c;">Patients</li>-->
        <!--{{#each model as |patient|}}-->

          <!--<li>{{patient.givenName}} {{patient.familyName}}-->
            <!--<p style="float: right;">{{delete-patient ID=patient.id}}</p>-->


            <!--<p style="float: right; padding-right: 2%; cursor: pointer;" title="Edit">-->
              <!--{{#link-to 'update-patient' patient.id}}-->
                <!--<i class="grey write icon"></i>-->
              <!--{{/link-to}}-->
            <!--</p>-->

          <!--</li>-->

        <!--{{/each}}-->
      <!--</ul>-->
    <!--</div>-->


  <!--</section> &lt;!&ndash; cd-table &ndash;&gt;-->

<!--</section>-->



<!--<div id="add" class="container">-->
  <!--{{#link-to 'new-patient'}}-->
  <!--<a id="add" class="round-button">-->
    <!--<i class="plus icon"></i>-->
  <!--</a>-->
  <!--{{/link-to}}-->
<!--</div>-->--}}

{{manage-patients}}


