<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div id="content">
  {{add-rehabplan}}
  <br><br>
  <div class="ui search">

      <input class="prompt" type="text" placeholder="Search Rehabilitation plan">
      <i class="search icon"></i>

  </div>

  <br><br>

  <table class="ui single line table">

    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
      {{#each model as |Rehabplan|}}
        <tr>
          <td>{{Rehabplan.planName}}</td>
          <td>{{Rehabplan.description}}</td>
          <td>
            <div class="four wide column right aligned">
              {{edit-rehabplan ID=Rehabplan.id}}
            </div>
            <div class="four wide column left aligned">
              {{delete-rehabplan ID=Rehabplan.id}}
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>