{{#if isEditing}}

{{#ui-modal name=modalName class=modalName}}
 {{!-- <div class="ui fluid raised very padded text container segment"> --}}
   <table class="ui single line table">
     <thead>
    <tr>
      <th>Image Name</th>
      <th>Image</th>
    </tr>
    </thead>

    <tbody>
      {{#each Images as |Image|}}
        <tr>
          <td>{{Image.name}}</td>
          <td>
            <img class = "ui small image" src="{{Image.imageData}}">
            <br>
            <div class="ui toggle checkbox">
                {{input type="checkbox" checked=cbState change=(action "addTempImage" Image) }}
                <label>Add</label>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>

  </table>
    <br><br>
  <div class="actions">
        <div class="ui positive button">Save</div>
        <div class="ui black deny button">Cancel</div>
    </div>
{{!-- </div> --}}
{{/ui-modal}}

<div class="ui fluid raised very padded text container segment">
   <h2 id="exercise" class="ui fluid centered header">Add New Exercise</h2>

    <form class="ui form">
        
        <div class="field">
            <label>Exercise Name</label>
            {{input type ="text" value=Name placeholder="Exercise Name"}}
        </div>
        
        <div class="field">
            <label>Description</label>
            {{textarea value=Description cols="80" rows="6" placeholder="Description"}}
        </div>

        <div class="field">
            <label>Author Name</label>
            {{input type ="text" value=AuthName placeholder="Author Name"}}
        </div>

        <div class="field">

            <label>Objectives</label>

            <div class="ui action input">
                {{input type ="text" value=Objective placeholder="Objective"}}
                <button class="ui white right labeled icon button" {{action "addObjective"}}>
                    Add Objective
                    <i class="add icon"></i>
                </button>
            </div>

            <div class="ui inverted segment">
                <label>Current Objectives</label>
                <ul align = "left">
                    {{#each obj as |o|}}
                        <li>
                            <p>
                                {{o}}
                                <br>
                                <i style=" cursor: pointer;" title="Edit" {{action 'edit' }} class="gray write icon" ></i>
                                <i style=" cursor: pointer;" title="Delete" {{action "openModal" }} class="red remove icon" ></i>
                            </p> 
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>

        <div class="field">
            <label>Action Steps</label>
            <div class = "ui action input">
                {{input type ="text" value=ActionSteps placeholder="Action Steps"}} 
                <button class="ui white right labeled icon button" {{action "addActionStep"}}>
                    Add Action Step
                    <i class="add icon"></i>
                </button>
            </div>

            <div class="ui inverted segment">
                <label>Current Action Steps</label>
                <ol align = "left">
                    {{#each actionStep as |aS|}}
                        <li>
                            <p>
                                {{aS}}
                                <i style=" cursor: pointer;" title="Edit" {{action 'edit' }} class="gray write icon" ></i>
                                <i style=" cursor: pointer;" title="Delete" {{action "openModal"}} class="red remove icon" ></i>
                            </p>
                        </li> 
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class="field">
            <label>Location</label>
            {{input type ="text" value=Location placeholder="Location"}}
        </div>

        <div class="field">
            <label>Frequency</label>
            {{!-- <i class="hourglass half icon"></i> --}}
            {{input type ="text" value=Frequency placeholder="Frequency"}}
        </div>

        <div class="field">
            <label>Duration</label>
            {{!-- <i class="calendar icon"></i> --}}
            {{input type ="text" value=Duration placeholder="Duration"}}
        </div>

        <div class="field">
            <label>Target Date</label>
             {{!-- <i class="add to calendar icon"></i> --}}
            {{input type ="text" value=TargetDate placeholder="Target Date"}}
        </div>

        <div class="field">
            <label>Multimedia URL</label>
            {{input type ="text" value=MMURL placeholder="Multi Media URL"}}
        </div>

        <div class = "field">
            {{#each queue as |file| }}
                <div class="ui divided demo items">
                    <div class="item">
                        <div class="image">
                            {{#if file.isUploading}}
                                <div class="ui active inverted dimmer">
                                    <div class="ui loader"></div>
                                </div>
                           {{else}}
                                <img src="{{file.base64Image}}">
                            {{/if }}
                        </div>
                        <div class="middle aligned content">
                            <div class="description">
                                {{#if file.isDisplayableImage}}
                                    <label>Image Name</label>
                                    {{input type ="text" valueBinding=file.name}}
                                    <button class="ui red basic button" {{action 'deleteFile' file}}>
                                        Delete
                                    </button>
                                    <br>
                                {{else}}
                                    <p>Unsupported image</p>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
            {{#each queue2 as |Image| }}
                <div class="ui divided demo items">
                    <div class="item">
                        <div class="image">
                            <img src="{{Image.imageData}}">
                        </div>
                        <div class="middle aligned content">
                            <div class="description">
                                <label>Image Name</label>
                                    {{input type ="text" valueBinding=Image.name}}
                                    <button class="ui red basic button" {{action 'deleteFile' file}}>
                                        Delete
                                    </button>
                                    <br>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
                <div class="ui fluid labeled input">
                    <label class="ui fluid huge label" style="{{labelStyle}}">
                        <i class="big cloud upload icon"></i>
                            Click or Drop images into this area to upload images
                    </label>
                    <input type="file" value="target.value" onchange={{action "selectFile"}} style="{{inputStyle}}"
                        accept="{{accept}}" multiple={{multiple}}>
                </div>
            <br>
                <button class="ui button" {{action 'openModal'}}>Assign Images from Existing Images</button>
            <br><br>
        </div>

        <div class = "inline">
            <button class="ui button" type="submit" {{action "submit"}}>Submit</button>
            <button class="ui button" type="submit" {{action "cancel"}}>Cancel</button>
        </div>

    </form>
</div>                 
{{else}}
  <button class="ui button" {{action 'addExercise'}}>
    Add Exercise
  </button>
{{/if}}
