<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/form-style.css"> <!-- Resource style -->


<form class="cd-form floating-labels" {{action "save" on="submit"}}>
  <br><br>
  <fieldset>
    <legend>Personal Info</legend>

    <div class="icon">
      <label class="cd-label">First Name</label>
      {{input class="user" type="text" value = givenName required = true}}
    </div>
    <div class="icon">
      <label class="cd-label">Last Name</label>
      {{input class="user" type="text" value = familyName required = true}}
    </div>
    <div class="icon">
      <label class="cd-label">Date of Birth</label>
      <input class="date" type="date" value={{selectedDate}}  onchange={{action 'assignDate' value="target.value"}} required>
    </div>

    <div >
      <h4>Gender</h4>
      <p class="cd-select icon">
        <select class="people" onchange={{action (mut gender) value="target.value"}}>
          {{#each genderModel as |oneGender|}}
            <option value={{oneGender.name}} selected={{eq gender.name oneGender.name}}>
              {{oneGender.name}}
            </option>
          {{/each}}
        </select>
      </p>
    </div>

    <div >
      <h4>Marital Status</h4>
      <p class="cd-select icon">
        <select class="people" onchange={{action (mut maritalStatus) value="target.value"}}>
          {{#each maritalStatusModel as |oneStatus|}}
            <option value={{oneStatus.name}} selected={{eq maritalStatus.name oneStatus.name}}>
              {{oneStatus.name}}
            </option>
          {{/each}}
        </select>
      </p>
    </div>

    <div class="icon">
      <label class="cd-label">Occupation</label>
      {{input class="company" type="text" value = occupation required = true}}
    </div>
    <div class="icon">
      <label class="cd-label">Health Card Number</label>
      {{input class="card" type="text" value = healthCardNumber required = true}}
    </div>
  </fieldset>


  <fieldset>
    <legend>Address</legend>

    <div class="icon">
      <label class="cd-label">Number</label>
      {{input class="home" type="text" value = streetNumber required = true}}
    </div>
    <div class="icon">
      <label class="cd-label">Street Name</label>
      {{input class="home" type="text" value = streetName required = true}}
    </div>
    <div class="icon">
      <label class="cd-label" for="cd-name">Unit</label>
      {{input class="bookmark" type="text" value = apartment}}
    </div>

    <div class="icon">
      <label class="cd-label" for="cd-name">Postal/ZIP Code</label>
      {{input class="flag" type="text" value = postalCode required = true}}
    </div>


    <div >
      <h4>Country</h4>
      <p class="cd-select icon">
        <select class="world" onchange={{action (mut country) value="target.value"}}>
          {{#each conutryModel as |oneCountry|}}
            <option value={{oneCountry.name}} selected={{eq country.name oneCountry.name}}>
              {{oneCountry.name}}
            </option>
          {{/each}}
        </select>
      </p>
    </div>

  </fieldset>


  <fieldset>
    <legend>Contact Info</legend>

    <div class="icon">
      <label class="cd-label" for="cd-name">Phone Number</label>
      {{input class="phone" type="text" value = phoneNumber required = true}}
    </div>

    <div class="icon">
      <label class="cd-label" for="cd-email">Email</label>
      {{input class="email" type="email" value = email required = true}}
    </div>
  </fieldset>




  <fieldset>


    <!--<div>-->
      <!--<h4>Project type</h4>-->

      <!--<ul class="cd-form-list">-->
        <!--<li>-->
          <!--<input type="radio" name="radio-button" id="cd-radio-1" checked>-->
          <!--<label for="cd-radio-1">Choice 1</label>-->
        <!--</li>-->

        <!--<li>-->
          <!--<input type="radio" name="radio-button" id="cd-radio-2">-->
          <!--<label for="cd-radio-2">Choice 2</label>-->
        <!--</li>-->

        <!--<li>-->
          <!--<input type="radio" name="radio-button" id="cd-radio-3">-->
          <!--<label for="cd-radio-3">Choice 3</label>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<div>-->
      <!--<h4>Features</h4>-->

      <!--<ul class="cd-form-list">-->
        <!--<li>-->
          <!--<input type="checkbox" id="cd-checkbox-1">-->
          <!--<label for="cd-checkbox-1">Option 1</label>-->
        <!--</li>-->

        <!--<li>-->
          <!--<input type="checkbox" id="cd-checkbox-2">-->
          <!--<label for="cd-checkbox-2">Option 2</label>-->
        <!--</li>-->

        <!--<li>-->
          <!--<input type="checkbox" id="cd-checkbox-3">-->
          <!--<label for="cd-checkbox-3">Option 3</label>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <div>
      <input type="submit" value="Submit">
    </div>
  </fieldset>
</form>
