<button class="blue ui button" {{action 'openModal'}}>
  Add Rehab plan
</button>

{{#ui-modal name="addRehab" class="addRehab"}}
  <h2 id="rehabPlan" class="ui fluid centered header" style="padding: 5%">Add New Rehab Plan</h2>

  <form class="ui form">
    <div class="fields">
      <div class="two wide field">
        <i id="icon" class="black large user icon"></i>
      </div>
      <div class="seven wide field">
        {{input type="text" value = Name placeholder="Rehab plan name"}}
      </div>

      <div class="seven wide field">
        {{input type="text" value = authorName placeholder="Author Name"}}
      </div>
    </div>

    <!--Description-->
    <div class="fields">
      <div class="two wide field">
        <i id="icon" class="black large comment icon"></i>
      </div>
      <div class="fourteen wide field">
        {{input type="text" value = description placeholder="Description"}}
      </div>
    </div>

    <!--goal-->
    <div class="fields">
      <div class="two wide field">
        <i id="icon" class="black large trophy icon"></i>
      </div>
      <div class="fourteen wide field">
        {{input type="text" value = goal placeholder="Goal"}}
      </div>
    </div>
    <!--Time to complete-->
    <div class="fields">
      <!--icon-->
      <div class="two wide field">
        <i id="icon" class="black large wait icon"></i>
      </div>
      <div class="three wide field">
        <button class="ui button" {{action "decreaseTime"}}> <i class="black  minus icon"></i></button>
      </div>
      <div class="five wide field">
        <div class="ui right labeled input">
          {{input type="text" value = ttc placeholder="Time"}}
          <div class="ui basic label">Days</div>
        </div>
      </div>
      <div class="two wide field">
        <button class="ui  button"{{action "increaseTime"}}><i class="black  plus icon"></i></button>
      </div>
    </div>

    <!--Exercise-->
    <div class="fields">
      <div class="two wide field">
        <i id="icon" class="black large comment icon"></i>
      </div>
      <div class="fourteen wide field">
        {{input type="text" value = exercises placeholder="Exercise"}}
      </div>
    </div>


    <!--assessment Test-->
    <div class="fields">
      <div class="two wide field">
        <i id="icon" class="black large comment icon"></i>
      </div>
      <div class="fourteen wide field">
        <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="Search Assessment test">
            <i class="search icon"></i>
          </div>
          <div class="results"></div>
        </div>
        {{input type="text" value = assessmentTests placeholder="Assessmenttests"}}
      </div>
    </div>



    <br><br>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Save
        <i class="checkmark icon"></i>
      </div>
    </div>
  </form>


{{/ui-modal}}
