{{#if isEditing}}

<div class="ui fluid raised very padded text container segment">
   <h2 id="exercise" class="ui fluid centered header">Add New Exercise</h2>

    <form class="ui form">
        
        <div class="field">
            <label>Exercise Name</label>
            {{input type ="text" value=Name placeholder="Exercise Name"}}
        </div>
        
        <div class="field">
            <label>Description</label>
            {{textarea value=Description cols="80" rows="6" placeholder="Description"}}
        </div>

        <div class="field">
            <label>Author Name</label>
            {{input type ="text" value=AuthName placeholder="Author Name"}}
        </div>

        <div class="field">
            <label>Action Steps</label>
            <div class = "ui action input">
                {{input type ="text" value=ActionSteps placeholder="Action Steps"}} 
                <button class="ui white right labeled icon button" {{action "addActionStep"}}>
                    Add Action Step
                    <i class="add icon"></i>
                </button>
            </div>

            <div class="ui inverted segment">
                <label>Current Action Steps</label>
                <ol align = "left">
                    {{#each actionStep as |aS|}}
                        <li>
                            <p>
                                {{aS}}
                                <i style=" cursor: pointer;" title="Edit" {{action 'edit' }} class="gray write icon" ></i>
                                <i style=" cursor: pointer;" title="Delete" {{action "openModal"}} class="red remove icon" ></i>
                            </p>
                        </li> 
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class ="ui grid">
            <div class ="four wide column">
            <div class = "field">
                <label># of Sets</label>
                {{input type ="number" value=Sets min=0 placeholder="Sets"}}
            </div>
            </div>

            <div class ="four wide column">
            <div class = "field">
                <label># of Reps</label>
                {{input type ="number" value=Reps min=0 placeholder="Reps"}}
            </div>
            </div>

            <div class ="eight wide column">
                <div class = "field">   
                    <label>Duration</label>
                    <div class="eight wide column">
                        <div class="ui two column grid">
                            <div class="column">{{input type ="number" value=DurationMinute min=0 max=59 placeholder="00m"}}</div>
                            <div class="column">{{input type ="number" value=DurationSecond min=0 max=59 placeholder="00s"}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="field">
            <label>Multimedia URL</label>
            {{input type ="text" value=MMURL placeholder="Multi Media URL"}}
        </div>

        <div class="field">
            <label>Notes</label>
            {{textarea value=Notes cols="80" rows="6" placeholder="Notes"}}
        </div>

        <div class = "field">
            {{#each queue as |file| }}
                <div class="ui divided demo items">
                    <div class="item">
                        <div class="image">
                            {{#if file.isUploading}}
                                <div class="ui active inverted dimmer">
                                    <div class="ui loader"></div>
                                </div>
                           {{else}}
                                <img src="{{file.base64Image}}">
                            {{/if }}
                        </div>
                        <div class="middle aligned content">
                            <div class="description">
                                {{#if file.isDisplayableImage}}
                                    <label>Image Name</label>
                                    {{input type ="text" valueBinding=file.name}}
                                    <button class="ui red basic button" {{action 'deleteFile' file}}>
                                        Delete
                                    </button>
                                    <br>
                                {{else}}
                                    <p>Unsupported image</p>
                                {{/if}}

                                
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
                <div class="ui fluid labeled input">
                    <label class="ui fluid huge label" style="{{labelStyle}}">
                        <i class="big cloud upload icon"></i>
                            Click or Drop images into this area to upload images
                    </label>
                    <input type="file" value="target.value" onchange={{action "selectFile"}} style="{{inputStyle}}"
                        accept="{{accept}}" multiple={{multiple}}>
                </div>
            <br><br><br><br>

                <div class ="ui center alligned three column grid" style="border:0.5px solid black;overflow-y:scroll;max-height:300px;">
                    {{#each Images as |Image|}}
                        <div class ="column">
                <div class="ui fluid card" style="max-height:221px;min-height:221px;">
                    <div class="content">
                         <div class ="sidebar-box" style="max-height:50px;min-height:50px;">
                            <p class ="sidebar-box">{{Image.name}}</p>
                        </div>
                    </div>
                    <div class = "content" style="min-height:105px;">
                        <div class="image">
                            <img style="max-height:105px;" class = "ui small image" src="{{Image.imageData}}">
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui toggle checkbox">
                            {{input type="checkbox" checked=cbState change=(action "addTempImage" Image) }}
                            <label>Add</label>
                        </div>
                    </div>
                </div>
                </div>
            {{/each}}
        </div>

        

</div>
        <div class = "inline">
            <br><br><br>
            <button class="ui button" type="submit" {{action "submit"}}>Submit</button>
            <button class="ui button" type="submit" {{action "cancel"}}>Cancel</button>
        </div>

    </form>
</div>                 
{{else}}
  <button class="ui button" {{action 'addExercise'}}>
    Add Exercise
  </button>
{{/if}}