<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/form-style.css"> <!-- Resource style -->

<form class="cd-form floating-labels" {{action "save" on="submit"}}>
  <br><br>
  <fieldset>
    <legend>Rehabilitation Plan</legend>

    <div class="icon">
      <label class="cd-label">Name</label>
      {{input class="star" type="text" value = Name required = true}}
    </div>
    <div class="icon">
      <label class="cd-label">Author</label>
      {{input  class="user" type="text" value = authorName required = true}}
    </div>
    <div class="icon">
      <label class="cd-label" for="cd-textarea">Description</label>
      {{textarea class="message" name="cd-textarea"  value= description required=true}}
    </div>

    <div class="icon">
      <label class="cd-label">Goal</label>
      {{input  class="award" type="text" value = goal required = true}}
    </div>


    <div class="icon">
      <label class="cd-label" for="cd-name">Time</label>
      {{input class="video" type="text" value = timeToComplete required = true}}
    </div>


    <div >
      <h4>Exercises</h4>
      <p class="cd-select icon">
        <select class="people" onchange={{action (mut exercise) value="target.value"}}>
          {{#each exerciseModel as |oneExercise|}}
            <option value={{oneExercise.name}} selected={{eq exercise.name oneExercise.name}}>
              {{oneExercise.name}}
            </option>
          {{/each}}
        </select>
      </p>
    </div>


    <div>
      <div class="cd-button">
        <input type="submit" value="Submit">
      </div>

    </div>

    <div>
      <div class="cd-button">
        <input type="submit" value="Calc">
      </div>

    </div>



  </fieldset>
</form>