{{#if isEditing}}

<div class="ui fluid raised very padded text container segment">
    <form class="ui form">
        <div class="sixteen wide field">
            {{input type="text" value=fName placeholder = "Name of form"}}
        </div>
        <div class="sixteen wide field">
            {{input type="text" value=fDescription placeholder = "Description of form"}}
        </div>

        <br><br>

        <div class="ui centered grid">
            <button class="ui fluid positive button" {{action "submit"}}>Submit</button>
            <button class="ui fluid negative button" {{action "cancel"}}>Cancel</button>
        </div>

    </form>
</div>

{{else}}
<br>
 <button class="fluid ui blue button" style="max-width: 20%; height: 50px;" {{action 'addForm'}}>
    Add Form
</button>
{{/if}}