<link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/form-style.css"> <!-- Resource style -->

<form class="cd-form floating-labels" {{action "save" on="submit"}}>
  <br><br>
  <fieldset>
    <legend>Book Appointment</legend>


    <label class="cd-label">Select Physiotherapist</label>
    <p class="cd-select icon">
      <select class="people" value ={{selectphysio}} onchange={{action "updateValue" value="target.value"}} >
        <option value=""  selected disabled hidden>Select Physiotherapist</option>
        {{#each getphysio as |phsio|}}
          <option value={{phsio.id}}>
            {{phsio.givenName}}
          </option>
        {{/each}}
      </select>
    </p>


    <div class="icon">
      <label class="cd-label">Reason</label>
      {{input class="star" type="text" value = Reason}}
    </div>
    <div class="icon">
      <label class="cd-label">Other</label>
      {{input  class="user" type="text" value = Other}}
    </div>

    <div class="icon">
      <label class="cd-label">Date</label>
      <input class="date" type="date" value={{selectedDate}}  onchange={{action 'assignDate' value="target.value"}}>
    </div>

    <div>
      <div class="cd-button">
        <input type="submit" value="Submit">
      </div>
    </div>
  </fieldset>
</form>