<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">Book appointment</span>
      </h1>
    </div>
  </div>
</div>



<br><br><br>

<div class="ui container segment" id="top" style="margin-left: 0% !important;">
  <div class="ui grid">
    <div class="left thirteen wide column" style="margin-top: -5px;">
      <p style="padding-top: 13px;color:  white;font-size: 1.5em;font-weight: bolder;">
        Upcoming Appointment
      </p>
    </div>
  </div>
  <br><br><br><br>

  <div style="display: inline">
    <table class="ui fixed table" style="border: none;border-color: white;">
      <tbody >
      <tr style="font-weight: bold;">
        <th>Date</th>
        <th>Practitioner</th>
        <th>Reason</th>
        <th>Appointment type</th>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="ui divider"></div>

  <div  id="clientWindow" style="height:500px; overflow-y: scroll; overflow-x: hidden;">

    <table class="ui fixed table" id="tb" style="margin: 0 0;border: none;">
      <tbody >
      {{#each appointmentHistory as |aHistory|}}
        <tr>
          <td>{{aHistory.date}}</td>
          <td>{{aHistory.pName}}</td>
          <td>{{aHistory.reason}}</td>
          <td>{{types-appointment aHistory.date aHistory.endDate}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>
<br><br><br><br>

<div class="ui centered cards" >
  <div class="card" style="width:250px">
    <div class="content" style="text-align: center">
      <div class="header">First Appointment</div>
    </div>
    <div class="ui bottom attached button" {{action "firstSelect"}}>
      <i class="add icon"></i>Show
    </div>
  </div>

  <div class="card" style="width:250px">
    <div class="content"  style="text-align: center">
      <div class="header">Follow-ups</div>
    </div>
    <div class="ui bottom attached button" {{action "followupSelect"}}>
      <i class="add icon"></i>
      Show
    </div>
  </div>
</div>



<link integrity="" rel="stylesheet" href="/assets/css/form-style.css"> <!-- Resource style -->

{{#if followupSelected}}
<form class="cd-form floating-labels" {{action "save" on="submit"}} style="padding-right: 10em; padding-left: 10em">
  <label class="cd-label">Select Physiotherapist</label>
  <p class="cd-select icon">
    <select class="people" value ={{selectphysio}} onchange={{action "updateValue" value="target.value"}} >
      <option value=""  selected disabled hidden>Select Physiotherapist</option>
      {{#each getphysio as |phsio|}}
        <option value={{phsio.id}}>
          {{phsio.givenName}}
        </option>
      {{/each}}
    </select>
  </p>
  <br><br>
  {{as-calendar
    title="View Schedule"
    occurrences=occurrences
    defaultTimeZoneQuery="Toronto|New York"
    dayStartingTime="8:00"
    dayEndingTime="20:00"
    timeSlotDuration="00:30"
    onAddOccurrence=(action "calendarAddOccurrence")
    onUpdateOccurrence=(action "calendarUpdateOccurrence")
    onRemoveOccurrence=(action "calendarRemoveOccurrence")}}

</form>
<br><br>
{{/if}}

{{#if firstSelected}}
<div class = "ui very padded segment container" style="border: none; box-shadow: none; background-color: white;position: relative;z-index:  2;">
  <div class="ui four steps">
    <div class="{{introValue}} step">
      <i class="sticky note icon"></i>
      <div class="content">
        <div class="title">Intake Form</div>
      </div>
    </div>
    <div class="{{photoValue}}  step">
      <i class="photo icon"></i>
      <div class="content">
        <div class="title">Upload Photos</div>
      </div>
    </div>
    <div class="{{appointmentValue}}  step">
      <i class="bookmark icon"></i>
      <div class="content">
        <div class="title">Book Appointment</div>
      </div>
    </div>
    <div class="{{confirmValue}}  step">
      <i class="check circle icon"></i>
      <div class="content">
        <div class="title">Confirmation</div>
      </div>
    </div>
  </div>

  <div class="ui attached segment">
    {{#if intro}}
      <div class="field" style="margin: 1em 0">

        {{!--{{display-assessment id=paitent.intakeForm.id}}--}}


        <div class="ui centered grid">
          <button class="ui blue button" style="height: 50px;" {{action "goToPhoto"}}>Next</button>
        </div>
      </div>
    {{/if}}
    {{#if photo}}
      <div class="field" style="margin: 1em 0">

        {{client-upload-photos}}

        <div class="ui centered grid">
          <button class="ui blue button" style="height: 50px;" {{action "backToIntro"}}>Back</button>
          <button class="ui blue button" style="height: 50px;" {{action "goToAppointment"}}>Next</button>
        </div>
      </div>
    {{/if}}
    {{#if appointment}}
      <p>Appointment go here!!</p>
      <div class="field" style="margin: 1em 0">
        <div class="ui centered grid">
          <button class="ui blue button" style="height: 50px;" {{action "backToPhoto"}}>Back</button>
          <button class="ui blue button" style="height: 50px;" {{action "goToConfirm"}}>Next</button>
        </div>
      </div>
    {{/if}}
    {{#if confirm}}
      <p>Confirmation Page Goes Here!!</p>
      <div class="field" style="margin: 1em 0">
        <div class="ui centered grid">
          <button class="ui blue button" style="height: 50px;" {{action "backToAppointment"}}>Back</button>
          <button class="ui blue button" style="height: 50px;" {{action "goToPaypal"}}>Next</button>
        </div>
      </div>
    {{/if}}


  </div>
</div>
{{/if}}


{{#ui-modal name= modalName class= 'bk'}}
  <form class="cd-form floating-labels">
    <div class="scrolling content" >

      <fieldset>
        <legend>Book Appointment</legend>
        <label class="cd-label"> Physiotherapist</label>
        <p>{{familyName}} {{givenName}}</p>
        <br>

        <label class="cd-label">Select Type</label>
        <p class="cd-select icon">
          <select class="selectedAppointment" value ={{selectAppointmentType}} onchange={{action "updateTime" value="target.value"}}>
            <option value=""  selected disabled hidden>Select type</option>
            <option value="i">
              Initial Assessment
            </option>
            <option value="t">
              Treatment
            </option>

          </select>
        </p>


        <div class="icon">
          <label class="cd-label">Reason</label>
          {{input class="star" type="text" value = Reason}}
        </div>

        <div class="icon">
          <label class="cd-label">Other</label>
          {{input  class="user" type="text" value = Other}}
        </div>

        <label class="cd-label">Select Time Slot</label>
        <p class="cd-select icon">
          <select class="people" value ={{selectedTime}} onchange={{action "setselectedtime" value="target.value"}} >
            <option value=""  selected disabled hidden>Select TimeSlot</option>
            {{#each timeSlots as |timeslot|}}
              <option value={{timeslot.time}}>
                {{timeslot.value}}
              </option>
            {{/each}}
          </select>
        </p>

        <br>
        <div>
          <button class="ui fluid negative button" {{action "cancel_appointment"}}>Cancel</button>
          <button class="ui fluid positive button" {{action "book_appointment"}}>Submit</button>
        </div>
      </fieldset>
    </div>
  </form>
{{/ui-modal}}