<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">{{model.givenName}} {{model.familyName}}</span>
      </h1>

    </div>
  </div>
</div>

<div class="ui container" style="padding-top: 2em">
  <div class="ui top attached tabular stackable menu" style="padding-left: 20%;">
    <a class="item">
      Assessment
    </a>
    <a class="item">
      Notes
    </a>
    <a class="item">
      Photos
    </a>
    <a class="{{menusState}} item" {{action "menusView"}}>
      Menus
    </a>
    <a class="item">
      Documents
    </a>
    <a class="item">
      Accounting
    </a>
  </div>
  <div class="ui segment" style="background: transparent;border: none;box-shadow: none;">

    {{#if menus}}

    <div class="ui very padded container segment" id="top">
      <div class="ui grid" style="margin-top: -30px;">
        <div class="left twelve wide column" style="margin-top: -5px;">
          <p style="padding-top: 13px;color:  white;font-size: 1.5em;font-weight: bolder;">
            Menu Builder
          </p>
        </div>
        <div class="right three wide column" style="padding-left: 30px;">
          {{!--{{add-rehabplan flagAdd=flagAdd}}--}}
          <div class="ui form" >
            {{#ui-dropdown class="selection" onChange=(action (mut plan))}}
              <div class="default text">Select a menu</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each rehabModel as |plan|}}
                  <div data-value="{{plan.id}}" class="item">
                    {{plan.planName}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}

          </div>
        </div>
      </div>
      <br><br><br><br>

      <div style="display: inline">
        <table class="ui fixed table" style="border: none;border-color: white;">
          <tbody >
          <tr style="font-weight: bold;">
            {{#each modelAttributes as |column|}}
              <th class={{column.class}} {{action 'sortColumn' column.key column.dir}}>{{column.name}}
                {{#if (eq column.dir 'asc')}}
                  <i class="sort ascending icon"></i>
                {{/if}}
                {{#if (eq column.dir 'desc')}}
                  <i class="sort descending icon"></i>
                {{/if}}
                {{#if (eq column.dir '')}}
                  <i class="sort icon"></i>
                {{/if}}
              </th>
            {{/each}}

          </tr>
          </tbody>
        </table>
      </div>

      <div class="ui divider"></div>

      <div  id="myWindow" style="height:500px; overflow-y: scroll; overflow-x: hidden;">
        <table class="ui fixed table" id="tb" style="margin: 0 0;border: none;">
          <tbody >
          {{#each listModel as |exercise|}}

            <tr>

              {{#each modelAttributes as |column|}}

                <td class={{column.class}}>
                  {{get exercise column.key}}
                </td>
              {{/each}}
            </tr>
          {{/each}}

          {{!--{{assign-rehabplan  plansData=plan model=model}}--}}

          </tbody>
        </table>
      </div>

    </div>
    {{/if}}
    {{#if personalMenu}}
      {{personal-menu}}
    {{/if}}
  </div>
</div>
  <br><br><br><br>