<div id="content">
<div class="ui fluid raised very padded text container segment">
    <h2 class="ui fluid centered header">Register Client Account</h2>

   <form class="ui form">
        
        <div class="field">
            <label>User Name</label>
            {{input type ="text" value=UName placeholder="User Name"}}
        </div>

        <div class="field">
            <label>Password</label>
            {{input type ="text" value=PWord placeholder="Password"}}
        </div>

        <div class="field">
            <label>Family Name</label>
            {{input type ="text" value=FName placeholder="Family Name"}}
        </div>
        
        <div class="field">
            <label>Given Name</label>
            {{input type ="text" value=GName placeholder="Email"}}
        </div>

        <div class="field">
            <label>Email</label>
            {{input type ="text" value=Email placeholder="Email"}}
        </div>

        <div class="field">
            <label>Date Of Birth</label>
            {{input type ="text" value=DOB placeholder="Date of Birth"}}
        </div>

        <div class="field">
            <label>Phone Number</label>
            {{input type ="text" value=PNumber placeholder="Phone Number"}}
        </div>

        <div class="field">
            <label>Health Card Number</label>
            {{input type ="text" value=HCN placeholder="Health Card Number"}}
        </div>

        <div class="field">
            <label>Occupation</label>
            {{input type ="text" value=Occ placeholder="Occupation"}}
        </div>

        <div class="field">
            <label>Marital Status</label>
            {{input type ="text" value=MStatus placeholder="Marital Status"}}
        </div>

        <div class="field">
            <label>Gender</label>
            {{input type ="text" value=GDer placeholder="Marital Status"}}
        </div>

        <div class="field">
            <label>Country</label>
            {{input type ="text" value=Ctry placeholder="Country"}}
        </div>

        <div class="field">
            <label>City</label>
            {{input type ="text" value=City placeholder="City"}}
        </div>

        <div class="field">
            <label>Province</label>
            {{input type ="text" value=Prov placeholder="Province"}}
        </div>

        <div class="field">
            <label>Appartment</label>
            {{input type ="text" value=Apptmnt placeholder="Appartment"}}
        </div>

        <div class="field">
            <label>Street Number</label>
            {{input type ="text" value=SNumber placeholder="Street Number"}}
        </div>

        <div class="field">
            <label>Street Name</label>
            {{input type ="text" value=StreetName placeholder="Street Name"}}
        </div>

        <div class="field">
            <label>Postal Code</label>
            {{input type ="text" value=PCode placeholder="Postal Code"}}
        </div>

        <div class = "inline">
            <button class="ui button" type="submit" {{action "submit"}}>Submit</button>
        </div>

    </form>
</div>

</div>

{{yield}}