<script type="text/javascript">$(document).ready(function(){$(".rating").rating();});</script>

<div class="ui form">
<ol>
{{#each formModel.questions as |q|}}
    <br>
    {{#if q.sa}}
        <label>{{q.questionText}}</label>
        <br><br>
        <div class="ui input focus">
            <li>{{input type="text" value = the }}</li>
        </div>
    {{/if}}

    {{#if q.ra}}
        <label>{{q.questionText}}</label>
        <br><br>
         <li><div class="ui large heart rating" data-max-rating="10"></div></li>
    {{/if}}

    {{#if q.tf}}
    <br><br>
     <li>
        <div class="inline fields">
           <label>{{q.questionText}}</label>
          <div class="field">
            <div class="ui radio checkbox">
                <input name="tf" type="radio">
                <label>True</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
               <input name="tf" type="radio">
               <label>False</label>
            </div>
          </div>
        </div>
      </li>  
    {{/if}}

    {{#if q.mc}}
    <br><br>
        <div class="grouped fields">
          <label>{{q.questionText}}</label>
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 0}}</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 1}}</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 2}}</label>
            </div>
          </div>
          {{#if (number-of-mc q.optionNumber 3)}}
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 3}}</label>
            </div>
          </div>
          {{/if}}
          {{#if (number-of-mc q.optionNumber 4)}}
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 4}}</label>
            </div>
          </div>
          {{/if}}
          {{#if (number-of-mc q.optionNumber 5)}}
          <div class="field">
            <div class="ui radio checkbox">
                <input name="mc" type="radio">
                <label>{{mc-display q.optionString 5}}</label>
            </div>
          </div>
          {{/if}}
        </div>
    {{/if}}
{{/each}}
</ol>
</div>
<button {{action 'Submit'}}>Submit</button>