<div class="masthead segment bg2">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui inverted header">
        <span class="library" style="font-size: 1.25em">Manage Forms</span>
      </h1>

    </div>
  </div>
</div>

<div style="padding-left: 2em;padding-right: 15em;padding-top: 10em;">

  <div class="ui vertical pointing menu" style="width: 12rem;">
    <a class="{{formState}} item" {{action "form"}}>
      Forms
    </a>
    <a class="{{questionState}} item" {{action "question"}}>
      Questinos
    </a>
  </div>

  <br><br>
  {{#if formView}}
  <div class="ui very padded container segment" style="margin-top: -18em;z-index:  2;position: relative;margin-left: 200px !important;">

    <h2> Forms </h2>

    {{#ui-accordion }}
      {{#each formModel as |form|}}
        <div class="ui grid">
          <div class="twelve wide column">
            <div class="title">
              <i class="ui dropdown blue icon"></i>
              {{form.name}}
            </div>
            {{show-form-questions questions=form.questions thisForm = form}}
          </div>
          <div class="six wide column right aligned">
            {{manage-form ID=form.id questions=form.questions  form=form fName=form.name}}
          </div>
          <a id="questions">
            {{#link-to 'formDisplay' (query-params id=form.id)}}
              <button class="ui button">View Form</button>
            {{/link-to}}
          </a>
          <div class="two wide column right aligned">
            {{edit-form ID=form.id}}
          </div>
          <div class="two wide column left aligned">
            {{delete-form ID=form.id}}
          </div>
        </div>
      {{/each}}
    {{/ui-accordion}}

    <br><br>
    {{add-form}}
  </div>
  {{/if}}
  {{#if questionView}}
    {{manage-questions model=questionModel}}
  {{/if}}
</div>
