
<link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css">
<form class="cd-form floating-labels">

  <br><br>
  <fieldset>
    <legend>Rehabilitation Plan Info</legend>


      <div class="icon">
        <label class="cd-label">Rehabilitation plan name</label>
        {{input class="star" type="text" value = rehabilitationplansData.planName placeholder="Rehab plan name"required = true}}
      </div>
    <div class="icon">
      <label class="cd-label">Author Name</label>
      {{input  class="user" type="text" value = rehabilitationplansData.physioID placeholder="Author Name" required = true}}
    </div>


    <!--Description-->

    <div class="icon">
      <label class="cd-label" for="cd-textarea">Description</label>
      {{textarea class="message" name="cd-textarea" value = rehabilitationplansData.description placeholder="Description" required=true}}
    </div>



    <!--goal-->
    <div class="icon">
      <label class="cd-label">Goal</label>
      {{input  class="award" type="text" value = rehabilitationplansData.goal placeholder="Goal" required = true}}
    </div>

    <div class="icon">
      <label class="cd-label" for="cd-name">Time</label>
      {{input class="video" type="text" value = rehabilitationplansData.timeToComplete placeholder="Time" required = true}}
    </div>





    <div class="icon">

      <label class="cd-label">Exercises</label>
      {{get-exercises ID =rehabilitationplansData.id exercises=rehabilitationplansData.exercises formName = rehabilitationplansData.planName }}
      <br>
      <div class="ui inverted segment">
        <label>Current Exercises</label>
        {{rehab-exercise exercises=rehabilitationplansData.exercises thisForm = rehabilitationplansData}}

        <ul align = "left">
          {{#each obj as |o|}}
            <li>
              <p>
                {{o}}
                <br>
                <i style=" cursor: pointer;" title="Edit" {{action 'edit' }} class="gray write icon" ></i>
                <i style=" cursor: pointer;" title="Delete" {{action "openModal" }} class="red remove icon" ></i>
              </p>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>



    {{#link-to 'rehabplans'}}
      <div class="ui black deny button">Cancel</div>
    {{/link-to}}

    <div class="ui positive right labeled icon button" {{action "save"}}>
      Save
      <i class="checkmark icon"></i>
    </div>

  </fieldset>
</form>