<button class = "ui mini circular icon green button" {{action 'openModal'}} title="Edit">
  <i class=" pencil icon"> </i>
</button>

{{#ui-modal name=modalName class=modalName}}
   <div class="ui fluid raised very padded text container segment">

    <h2 id="rehabPlan" class="ui fluid centered header">Edit Exercise {{Name}}</h2>

    <form class="ui form">
        <div class="field">
            <label>Exercise Name</label>
            {{input type="text" value=Name placeholder="Exercise Name"}}
        </div>
        
        <!--Description-->
        <div class="field">
            <label>Description</label>
            {{textarea type="text" value=Description placeholder="Description"}}
        </div>

        <div class="field">
            <label>Author Name</label>
            {{input type="text" value=AuthName placeholder="Author Name"}}
        </div>

      <div class="field">
         <label>Objectives</label>

            <div class="ui action input">
                {{input type ="text" value=Objective placeholder="Objective"}}
                <button class="ui white right labeled icon button" {{action "addObjective"}}>
                    Add <br> Objective
                    <i class="add icon"></i>
                </button>
            </div>

            <div class="ui inverted segment">
                <div align = "center">
                    <label>Current Objectives</label>
                </div>
                <ul align = "left" value={{obj}}>
                    {{#each obj as |o|}}
                        <li>{{o}}</li>
                    {{/each}}
                </ul>
            </div>
    </div>

    <div class="field">
            <label>Action Steps</label>
            <div class = "ui action input">
                {{input type ="text" value=ActionSteps placeholder="Action Steps"}} 
                <button class="ui white right labeled icon button" {{action "addActionStep"}}>
                    Add <br> Action Step
                    <i class="add icon"></i>
                </button>
            </div>

            <div class="ui inverted segment">
                <div align = "center">
                    <label>Current Action Steps</label>
                </div>
                <ol align = "left" value={{actionStep}}>
                    {{#each actionStep as |aS|}}
                        <li>{{aS}}</li>
                    {{/each}}
                </ol>
            </div>
        </div>

    <div class="field">
        <label>Location</label>
        {{input type ="text" value=Location placeholder="Location"}}
    </div>

    <div class="field">
        <label>Frequency</label>
        <div class="ui left icon action input">
            <i class="hourglass half icon"></i>
            {{input type ="text" value=Frequency placeholder="Frequency"}}
        </div>
    </div>

    <div class="field">
        <label>Duration</label>
        <div class="ui left icon action input">
            <i class="calendar icon"></i>
            {{input type ="text" value=Duration placeholder="Duration"}}
        </div>
    </div>

    <div class="field">
        <label>Target Date</label>
        <div class="ui left icon action input">
            <i class="add to calendar icon"></i>
            {{input type ="text" value=TargetDate placeholder="Target Date"}}
        </div>
    </div>

    <div class="field">
        <label>Multimedia URL</label>
        {{input type ="text" value=MMURL placeholder="Multi Media URL"}}
    </div>

    <div class = "field">
        {{simple-example}}
        <br><br>
    </div>

    <!--footer for save / cancel-->
    <div class="actions">
        <div class="ui positive button">Save</div>
        <div class="ui black deny button">Cancel</div>
    </div>

    </form>
  </div>

{{/ui-modal}}