
<div class="ui very padded container segment" id="top" style="margin-top: 18em;z-index:  2;position: relative;margin-left: 200px !important;">
  {{add-question}}
  <div class="ui grid" style="margin-top: -30px;">
    <div class="left thirteen wide column" style="margin-top: -5px;">
      <p style="padding-top: 13px;color:  white;font-size: 1.5em;font-weight: bolder;">Questions</p>
    </div>
    <div class="right two wide column" style="padding-left: 50px;">

    </div>
  </div>
  <br><br><br><br>

  <table class="ui fixed table" id="tb" style="border: none;border-color: white;">
    <tbody>
    <tr style="font-weight: bold;">
      <td class="left aligned seven wide column">Name</td>
      <td class="left aligned seven wide column">Question type</td>
      <td class="center aligned two wide column">Actions</td>
    </tr>
    </tbody>
  </table>

  <div class="ui divider"></div>

  <table class="ui fixed table" id="tb" style="margin: 0 0;border: none;">
    <tbody>
    {{#each model as |question|}}
      <tr>
        <td class="left aligned seven wide column">
          {{question.questionText}}
        </td>
        <td class="left aligned seven wide column">
          {{question.type}}
        </td>
        <td class="right aligned one wide column">
          <p>{{modify-question ID=question.id}}</p>
        </td>
        <td class="left aligned one wide column">
          <p>{{delete-question ID=question.id}}</p>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>



{{!--<p style="margin-left: 10%">{{add-question}}</p>--}}
