<button class="ui mini circular icon green button" {{action 'openModal'}} {{action 'isMultipleChoice'}}
        title="Edit"><i class="write icon"></i>
</button>

{{#ui-modal name= modalName class= modalName}}
 <div class="ui icon header">
    Edit Question
  </div>
  <div class="content">
    <div class="ui form">
 
      {{#if multipleChoice}}

        <div class="field">
         <label>Question </label>
         {{input type="text" cols="50" rows="1" valueBinding=questionString}}
        </div>

        <div class="field">
         <label>Help Description</label>
         {{textarea cols="50" rows="1" valueBinding=questionData.helpDescription}}
        </div>

        <div class="field">
          <label>Option 1</label>
          {{textarea cols="50" rows="1" valueBinding=opt1String}}
        </div>

        {{#if opt2}}
          <div class="field">
            <label>Option 2</label>
            {{textarea cols="50" rows="1" valueBinding=opt2String}}
          </div>
        {{/if}}

        {{#if opt3}}
          <div class="field">
            <label>Option 3</label>
            {{textarea cols="50" rows="1" valueBinding=opt3String}}
          </div>
        {{/if}}

        {{#if opt4}}
          <div class="field">
            <label>Option 4</label>
            {{textarea cols="50" rows="1" valueBinding=opt4String}}
          </div>
        {{/if}}

        {{#if opt5}}
          <div class="field">
            <label>Option 5</label>
            {{textarea cols="50" rows="1" valueBinding=opt5String}}
          </div>
        {{/if}}

        {{#if opt6}}
          <div class="field">
            <label>Option 6</label>
            {{textarea cols="50" rows="1" valueBinding=opt6String}}
          </div>
        {{/if}}

      {{else}}
        <div class="field">
        <label>Question </label>
        {{input type="text" cols="50" rows="1" value=questionData.questionText}}
      </div>

      <div class="field">
        <label>Help Description</label>
        {{textarea cols="50" rows="1" value=questionData.helpDescription}}
      </div>

      {{/if}}

      
    </div>
  </div>

  <br>
  <div class="actions">
    <div class="ui right floated red deny button">
      Cancel
    </div>
    <div class="ui positive right labeled icon button">
      Save
      <i class="checkmark icon"></i>
    </div>
  </div>
  <br><br>
{{/ui-modal}}