

           <link integrity="" rel="stylesheet" href="{{rootURL}}assets/css/home-style.css">
<!--<style>-->
  <!--.ui.visible.left.sidebar ~ .fixed,-->
  <!--.ui.visible.left.sidebar ~ .pusher {-->
    <!---webkit-transform: translate3d(260px, 0, 0); transform: translate3d(260px, 0, 0);-->
  <!--}-->
<!--</style>-->

<div id="example" class="index pushable">

    <div class="full height">
      <div class="following bar">
        <div class="ui container">

          <div class="ui large secondary network menu inverted">
            <div class="item">
              <div class="ui logo shape">
                <div class="sides">
                  <div class="active ui side">
                    {{#link-to 'home'}}<img class="ui image" src="assets/images/home/Header.png">{{/link-to}}
                  </div>
                </div>
              </div>
            </div>


            <div class="right menu inverted">
              <a class="item"><div id="SkypeButton_Call"></div></a>
              <a class="item">About</a>
              <a class="item">How it Works</a>
              <a class="item">Services</a>
              <a class="item">Assessment</a>
              <a class="item">Blog</a>
              <a class="item">Contact</a>
              {{#if loggedOut}}
                <a id="login" class="item" {{action 'openModal'}}>Log in</a>
              {{else}}
                <a class="item" {{action "logout"}}>Logout</a>
                {{/if}}
            </div>
          </div>
        </div>
      </div>

      {{yield}}

    </div>
  </div>


{{#ui-modal name="login" class="login"}}
  <link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css"> <!-- Resource style -->

  <h2 class="ui fluid centered header">Login</h2>

  <div id="ui container" style="height: 250px; padding-left:10%; padding-right: 10%; padding-top: 2%">
    <form class="ui form">

      <div class="field">
        <label>Email</label>
        {{input type ="text" value=Email placeholder="Email"}}
      </div>

      <div class="field">
        <label>Password</label>
        {{input type ="password" value=PWord placeholder="Password"}}
      </div>

      <div class = "inline">
        <button class="ui green button " {{action "submit"}}>Submit</button>
        <button class="ui button " {{action "deny"}}>Cancel</button>
      </div>

    </form>
  </div>
{{/ui-modal}}
