

<div class="ui hidden divider"></div>
<a id="login" class="item" {{action 'openModal'}}>Log in</a>

{{#ui-modal name="login" class="login"}}
  <link integrity="" rel="stylesheet" href="{{rootURL}}../assets/css/form-style.css"> <!-- Resource style -->

  <h2 class="ui fluid centered header">Login</h2>

  <div id="ui container" style="height: 250px; padding-left:5%; padding-right: 5%; padding-top: 2%">
  <form class="ui form">

    <div class="field">
      <label>Email</label>
      {{input type ="text" value=Email placeholder="Email"}}
    </div>

    <div class="field">
      <label>Password</label>
      {{input type ="password" value=PWord placeholder="Password"}}
    </div>

    <div class = "inline">
      <button class="ui blue button " {{action "submit"}}>Submit</button>
    </div>

  </form>
  </div>
{{/ui-modal}}