<div id="content">
<div class="ui fluid raised very padded text container segment">
    <h2 class="ui fluid centered header">Login</h2>

   <form class="ui form">
        
        <div class="field">
            <label>Email</label>
            {{input type ="text" value=Email placeholder="User Name"}}
        </div>

        <div class="field">
            <label>Password</label>
            {{input type ="password" value=PWord placeholder="Password"}}
        </div>

        <div class = "inline">
            <button class="ui button" type="submit" {{action "submit"}}>Submit</button>
            <button class="ui button" type="submit" {{action "logout"}}>Logout</button>
        </div>

    </form>
</div>

</div>

{{yield}}